<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/comp3005_final_project</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">zhuixingren</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Use second-level cache -->
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Current Session Context -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Disable contextual LOB creation (for PostgreSQL) -->
        <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>

        <!-- Entity Mappings -->
        <mapping class="org.example.model.Room"/>
        <mapping class="org.example.model.Member"/>
        <mapping class="org.example.model.Trainer"/>
        <mapping class="org.example.model.FitnessGoal"/>
        <mapping class="org.example.model.HealthMetric"/>
        <mapping class="org.example.model.PersonalTrainingSession"/>
        <mapping class="org.example.model.GroupClass"/>
        <mapping class="org.example.model.AdminStaff"/>
        <mapping class="org.example.model.TrainerAvailability"/>
        <mapping class="org.example.model.Equipment"/>
        <mapping class="org.example.model.MaintenanceTicket"/>

    </session-factory>
</hibernate-configuration>
